Run:
  NumLine: 100 # 每个客户端线程数
  # 模式 1:安静 2:写入文件 4:标准输出 6:写入文件和标准输出
  ErrLogMod: 6
  InfoLogMod: 6

# 参考: https://blog.csdn.net/cljdsc/article/details/121499835
Source:
  Urls:
    Eth:
      - '你的infurasUrl'
      - '你的infurasUrl 2'
      - '你的本地eth节点'
    Bsc:
      - 'https://bsc-dataseed.binance.org/'
      - 'https://bsc-dataseed1.defibit.io/'
      - 'https://bsc-dataseed1.ninicoin.io/'
    HECO:
      - https://http-mainnet.hecochain.com
    OKEX:
      - https://exchainrpc.okex.org


Notify:
  FeiShu:
    Open: 0 # 是否开启
    Url:
  DD:
    Open: 0
    Url: '钉钉告警 url'
    Secret: `Secret`
  Email:
    Open: 0
    HOST:
    PORT:
    From:
    Pwd:
    To: